{% load bootstrap4 %}
{% bootstrap_css %}

<html>
<head>
    <title>Lifty Material Delivery</title>
</head>
<body>
    {% block title %}
        <div class="container">
            <h3>Lifty Material Delivery</h3>
        </div>
    {% endblock %}

    {% block content %}
        <p>Lifty material delivery</p>
    {% endblock %}
</body>
</html>
