{% extends 'deliveries/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" name="Save" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}
