{% extends 'deliveries/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <a class="btn btn-success" href="{% url 'delivery_create' %}">Add Material Delivery</a>
    <table class="table">
        <thead class="thead">
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Delivered On</th>
            </tr>
        </thead>
        {% regroup delivery_list by delivered_on|date:"Y-m-d" as deliveries_by_day %}
            {% for delivery_group in deliveries_by_day %}
                <tbody>
                {% for delivery in delivery_group.list %}
                <tr>
                    <td>{{ delivery.item }}</td>
                    <td>{{ delivery.quantity }}</td>
                    <td>{{ delivery.unit }}</td>
                    <td>{{ delivery.delivered_on }}</td>
                </tr>
                {% endfor %}
                </tbody>
            {% endfor %}
    </table>
</div>
{% endblock %}
